.position{position:fixed;background:white;width:100%;}
.board{color:#6600CC}
.title{color:#FF7A5A;white-space: nowrap}
a:hover{text-decoration:none}
.customnav{background-color:#00AAA0;}
.nav.navbar-nav li a{color:white;font-size:120%,width:100%;}
.nav.navbar-nav li a:hover{background:#ffffff;color:black}
.icon-bar {background-color: white}
ul.dropdown-menu{background: #419641}
.maincss{position:relative;margin-top:10%}
 
 #banner{
     padding:0 20px;
	 
	 
}
#banner img{
     display:block;
     margin:0 auto;
}
 
 
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
 }
  
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent white;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color:#fff;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: none;
}  
  

@media (max-width: 767px) {

  .navbar-nav  {
     display: inline;
     
  }
  .navbar-default .navbar-brand {
    display: inline-block;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #fff;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
    
  }
}  
.navbar-brand:hover{color:#FFCC00;}
 .navbar-brand{color:#FFCC00;}
 .top{margin-top:5%}
 .content {
  width: 70%;
  margin: 10% auto;
}
.fo{border:2px solid #888888;margin:2px;border-radius:5px;box-shadow: 0 0 10px #888888;margin:0 auto}
.lab{margin:10px auto;text-align:center;font-size:300%;color:#FF1493}
.topicshead{text-align:center;font-size:300%}
.mar{margin:3%}
td,tr{text-align:center}
caption{font-size:300%;text-align:center;}
.right{float:left}
.banner{color:#00AAA0;font-size:600%;margin-bottom:-4%;text-shadow:1px 5px 6px black}
.bannerdown{color:#00AAA0;font-size:250%;margin-bottom:-4%;}
.caption{color:#337ab7;font-size:138%;margin-top:1%}
.logo{float:right}
marquee{color:#000000; font-size: 20px;width: 100%,height100%;}
span{color:#00535d}
.main{position:relative;}
.para{font-size:120%;margin-bottom:5% font-color:black;font-weight:none;}
button>a{color:white;font-size:150%}
button>a:hover{color:white}




.about-bor{
  padding:50px 0;
  border: 15px solid #fff;
  box-shadow: 4px 0px 15px 4px #E6E6e6;
  border-radius: 5px;
}
.about-pad{
padding:0 !important;
}
.about-left{
padding-left:0;
}
.about-left img{
width:100%;
}
.about-info h3{
 margin: 0 0 25px 0;
  font-size: 26px;
  text-align:center;
  font-weight: 700;
  color: #0a0a0a;
}
.about-info p{
  margin: 0 auto 45px auto;
  font-size: 14px;
  line-height: 1.8em;
  color: #5f5d5d;
  width: 75%;
  text-align: center;
}
.about-pad h3{
  margin: 0;
  font-size: 20px;
  color: #00626e;
  font-weight: 600;
}
.about-pad p{
  margin: 30px 0 10px 0;
  font-size: 13px;
  line-height: 1.8em;

  color: #5f5d5d;
}
.about-pad p:nth-child(3) {
  margin: 0;
}
.about-img img{
width:100%;
}
.about-team{
padding:60px 0 0 0;
}
.about-grid{
padding:0;
margin-right:29px;
width:23%;
}
.about-grid:nth-child(4){
margin:0;
}

.box-effect{
	margin-top:0%;
  padding:0% 0;
  border: 15px solid #fff;
  box-shadow: 4px 0px 15px 4px #E6E6e6;
  border-radius: 5px;
}
.custom-table, custom-table>td{color:black}

